@import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2&family=Raleway&family=Rubik&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;   
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.font-baloo{
  font-family: "Baloo Thambi 2",cursive;
}

.font-rale{
  font-family: "Raleway",cursive;
}

.font-rubik{
  font-family: "Rubik",cursive;
}
.font-crimson{
  font-family: 'Crimson Pro', serif;
}

.container{
  max-width: 1240px;
  margin: auto;
}

.nav{
  background: transparent;
  height: 5rem;
}

.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(5, 5, 5);
}

.nav .menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav .item {
  font-size: 18px;
  line-height: 24px;
  margin: 20px;
  color: var(--text-color);
  text-decoration: none;
}

.nav__hamburger {
  display: none;
  cursor: pointer;
}
@media only screen and (max-width: 600px) {
  .nav__hamburger {
    display: block;
    margin-right: 2rem;
  }
  .menu{
    flex-direction: column;
    align-items: start;
    color: white;
    padding: 1.6rem 1rem;
  }
  .nav-menu-show{
    position: fixed;
    top:0;
    left: -50rem;
    width: 0;
    background-color: black;
    z-index: 9999;

  }
  .nav-menu-show.open{
    left: 0;
    width: 70% !important;
    height: 100%;
  }

}
.logo {
  width: 200px;
}

.header{
  text-align: center;
  position: relative;
  background-position: 50% !important;
  background-size: cover !important;
  border-bottom-right-radius: 150% 40%;
  border-bottom-left-radius: 150% 40%;
}

.description{
  margin-top: 3rem;
  display: flex;
  justify-content: center;
}

.content{
  display: block;
}

.description h1{
  font-size: 38px;
  color: rgb(37, 37, 37);
}
.description h5{
  font-size: 22px;
  color: rgb(75, 74, 74);
  padding: 0 32%;
}
@media screen and (min-width: 1200px){
.description h1{
    font-size: 52px;
}
}

.news{
  margin-top: 5rem;
}

img{
  width: 100%;
}

.row {
  margin-right: 10rem;
  margin-left: 10rem;
  display: flex;
}
.cover{
  margin-right: 5rem;
  margin-left: 5rem;
  display: flex;
}

@media only screen and (max-width: 1000px) {
.row,.cover{
  margin-right: 0;
  margin-left: 0;
}
.albums{
  margin-right: 1rem !important;
  margin-left: 1rem !important;
}
}
@media only screen and (max-width: 600px) {
  .row{
    display: block;
  }
  }
.text__news{
  color: black;
  height: 150px;
}
.title{
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
}
.lgfgYE{
  display: flex;
  margin-bottom: 1rem;
}
.lgfgYE::after {
  content: "";
  border-bottom: 0.15rem solid rgb(35, 180, 113);
  flex: 1 1 0%;
  margin-right: 1rem;
  margin-left: 0.5rem;
  position: relative;
  top: calc(-0.375rem);
}

.content__news{
  text-transform: none;
  display: block;
  margin-bottom: 8px;
  overflow: hidden;
  width: 100%;
  font-weight: 400;
  color: #434343;
  height: 220px;
  line-height: 2rem;
  margin-right: 1rem;
  padding: 0 1rem;
}
@media only screen and (max-width: 1100px) {
  .content__news{
    height: 150px;
  }
  }
.details__news{
  padding-top: 0;
}

.details__news img{
  position: relative;
  width: 100%;
  height: 200px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  padding:7px;
}
@media only screen and (max-width:1100px) {
  .grid-container {
      grid-template-columns: auto auto;
  }
}
@media only screen and (max-width:630px) {
  .grid-container {
      grid-template-columns: auto;
  }
}

.grid-container > div {
  background-color: white;
  text-align: center;
}

.news .description{
  margin-right: 3rem;
}
.artist__card{
  box-shadow: 0 0.8rem 0.5rem rgb(0 0 0 / 10%) !important;
}
.news__card,.artist__card{
  border-radius: 1rem;
  margin: 0.5rem;
  position: relative;
  display: block;
  border-radius: 8px;
  background-color: #fff;
  height: 100%;
  overflow: hidden;
  box-shadow: 0 -0.2rem 0.5rem rgb(0 0 0 / 10%);
}
.latest-news__img{
  border-radius: 8px;
  box-shadow: 0 -0.2rem 0.5rem rgb(0 0 0 / 10%);
}
.quote__section{
  width: 80%;
  margin: 0 auto;
  padding: 2px;
  background-color: rgb(35, 180, 113); 
  background-repeat: no-repeat;
  background-size: 0 2px, 0 100%, 0% 2px;
  background-position: top center, top center, bottom center;
  position: relative;
  text-align: center;
  margin-bottom: 5rem;
}

.quote__section-content{
  background: white;
  padding: 2em;
  text-align: center;
  text-transform: uppercase;
  color: black;
  font: 700 18px Merriweather,serif;
}

.quote__section-label{
  background-color: #ffffff;
  color: #737373;
  font-size: 18px;
  letter-spacing: 2px;
  padding: 0 20px;
  position: absolute;
  right: 40%;
  top: -4px;
  z-index: 0;
}
.author{
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0px;
  color: black;
}
.quote__author{
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0px;
  color: black;
}
.quote__author-status{
  color: rgb(148, 147, 147);

}
.about{
  font-size: 14px;
  font-style: italic;
  font-family: inherit;
  line-height: 21px;
}
.auth input{
  width: 100%;
  height: 2rem;
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin: 0.5rem;
}
.MuiPaper-elevation3 {
  background-color: aliceblue !important;
  margin-top: 5rem;
  margin-bottom: 2rem;
  padding-top: 1rem;
  padding-bottom: .5rem;
}
.MuiAvatar-colorDefault {
  color: #fafafa;
  background-color: red !important;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem !important;
}

.MuiTypography-h5 {
    font-size: 1.5rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.334;
    letter-spacing: 0em;
    display: flex;
    justify-content: center;
}
.albums{
  margin-top: 0rem;
  margin-right: 5rem;
  margin-left: 5rem;
}
.clips{
  margin-top: 2rem;
  margin-right: 5rem;
  margin-left: 5rem;
}

.album-title{
  margin-top: 1rem !important;
}

.album__name{
  font-family: "Baloo Thambi 2",cursive;
  display: block;
}
.album__artist{
    display: block;
    font-size: 1rem;
    font-weight: 100;
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
}
.album__date{
  color: #666;
  display: block;
  font-weight: 400;
}
.header_with_cover_art {
  position: relative;
  background: rgba(0,0,0,.6);
  padding: 2.25rem 0 1.5rem 0;
  z-index: 0;
  color: #fff;
}
.header_with_cover_artist{
position: relative;
  background: rgba(0,0,0,.6);
  padding: 2.25rem 0 1.5rem 0;
  z-index: 0;
  color: #fff;
  display: flex;
}
.album__format{
color: #fffb06;
text-transform: uppercase;
}
.item__album{
  position: relative;
    display: block;
    border-radius: 8px;
    background-color: #fff;
    height: 100%;
    margin: 0.5rem;
    width: 95% !important;
    overflow: hidden;
    box-shadow: 0 0.2rem 0.5rem rgb(0 0 0 / 10%);
}
.text-center{
  margin-left: 1rem;
}
.album-list{
  display: flex;
  justify-content: space-around;
}
.artists{
  display: flex;
}
@media only screen and (max-width:1200px) {
  .item__album{
    width: 172px;
    margin-right: 20px;
  }
}
.album__details,.artist__details{
  margin-top: -0.6rem;
  margin-left: -1rem;
  margin-right: -1rem;
}

.album__description{
  margin-top: 3rem;
}
.album__description img{
  border: yellow solid;
    border-radius: 3%;
}
@media only screen and (max-width: 767px) {
.album__description img{
  width:70% ;
}
}
@media only screen and (max-width: 1000px) {
  .albums,
  .album__details{
    margin-right: 0;
    margin-left: 0;
  }
  
  }
  .album__name{
    font-family: "Baloo Thambi 2",cursive;
    display: block;
  }
  .album__artist{
      display: block;
      font-size: 1rem;
      font-weight: 100;
      margin-bottom: 1rem;
  }
  .album__date{
    color: #666;
    display: block;
    font-weight: 500;
  }
  .album__description .album__name{
    font-size: 30px;
  }
  
  .album__description .album__artist{
    font-size: 28px;
  }
  
  .album__description .album__date{
    color: #ddd;
    font-size: 14px;
  }
  .album__tracklist{
    margin-top: 3rem;
  }
  .artist__name{
    font-family: "Baloo Thambi 2",cursive;
    display: block;
    font-size: 34px;
  }
  .artist__status{
    color: #fffb06;
      text-transform: uppercase;
  }
  
  .tracklist{
      font-family: "Lobster Two";
      text-transform: none;
      font-weight: 400;
      font-size: 30px;
  }
  @media (min-width: 768px){
    .tracklist p {
        columns: 2;
    }
    }
    /*background-color: #f8f8f8;*/
    .tracklist__item{
      margin: 1rem;
      font-size: 20px;
      column-count: 2;
    }
    .artist__description img{
      position: relative;
      top: 40%;
      border-radius: 50%;
      border: yellow solid;
      width: 50%;
      left: 30%;
    }
    .top__projects{
      margin-top: 6rem;
      display: block;
    }
    .image__project{
      width: 280px;
    }
    .project__format{
      color: green;
        text-transform: uppercase;
        font-size: 14px;
    }
    @media only screen and (max-width: 800px) {
      .artist__description img{
          top: 50%;
          width: 60%;
      }
    
    }
    @media only screen and (max-width: 400px) {
      .artist__description img{
          top: 80%;
          width: 70%;
      }
    
    }
    @media only screen and (max-width: 600px) {
      .artist__description img{
          top: 60%;
          width: 65%;
      }
    
    }
    .artist__description{
      width: 50%;
    }
    .artist__infos{
      width: 50%;
    }
    .footer{
      background-color: lightgrey;
      padding: 3rem 1rem;
      line-height: 3rem;
      margin-top: 5rem;
    }
    
    
    .footer__top{
      padding-left: 5rem;
      display: grid;
      grid-template-columns: repeat(2,1fr);
      color: #ccc;
    }
    
    .footer-top__box a:link,
    .footer-top__box a:visited{
      display: block;
      color: white;
      font-size: 1.4rem;
      transition: 0.6s;
    }
    .footer-top__box a:hover{
      color: #1cab74;
    }
    .footer-top__box div{
      color: white;
      font-size: 1.4rem;
    }
    .footer-top__box h3{
      font-size: 1.2rem;
      margin-bottom: 1rem;
      font-family:"Baloo Thambi 2",cursive;
    }
    .footer-top__box p{
      font-size: 1.2rem;
      margin-right: 10rem;
      color: white;
    }
    .footer-top__box span{
      font-size: 1.1rem;
      margin-right: 1rem;
    }
    .logo{
      width: 60%;
      display: flex;
      margin-left: auto;
      margin-right: auto;
    }
    .socialMedia{
      display: flex;
    }
    .socialMedia img{
      width: 2rem;
      margin: 1rem;
    }
    .copyrights{
      display: flex;
      margin-left: auto;
      margin-right: auto;
    }
    
    .socialMedia span img{
     width: 2rem;
     fill: white;
     margin: 1rem;
    }
    
    @media only screen and (max-width: 998px){
      .footer__top{
          grid-template-columns: repeat(2,1fr);
          grid-gap: 2rem;
      }
    }
    @media only screen and (max-width: 768px){
      .footer__top{
          grid-template-columns: 1fr;
      }
    }
    
.card {
  cursor: pointer;
  background-color: transparent;
  height: 700px;
  perspective: 1000px;
  color: #fff;
}

.card-inner {
  position: relative;
  width: 40rem;
  height: 40rem;
  margin-left: auto;
  margin-right: auto;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card-back {
  background-color: #333;
  color: white;
  padding: 20px;
  transform: rotateY(180deg);
}
.card-inner{
  height: 700px;
}
@media only screen and (max-width: 570px){
  .card-front {
    width: 100%;
    height: 100%;
  }
  .card-inner{
    width: 95%;
    height: 500px;
  }
  .card-front img{
    height: 100%;
  }
  .card-back .table{
    font-size: 10px;
  }
  .table tr td img {
    width: 40px;
  }
  .card{
    height: 500px;
  }
}
.image_item{
  width: 100px;
}


.videoClip{
  width: 360px;
  height: 200px;
}

.form input[type=text],input[type=file], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.form input[type=submit] {
  width: 100%;
  background-color: #241663;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.form input[type=submit]:hover {
  background-color: #222a9c;
}
.form div{
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
.form{
  margin: 2rem;

}
.delete{
  border-radius: 0.5rem;
  background-color: rgb(226, 71, 71);
}
.listData{
  margin-top: 3rem;
}
.addData{
  margin-top: 2rem;
  background-color: #222a9c;
  color: white;
  width: 7rem;
  height: 2rem;
  border-radius: 1rem;
  margin-left:80% ;

}
.progress{
  display: flex;
  justify-content: center;
}
tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px
}
@media (min-width:768px) {
  .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9 {
      float: left
  }

  .col-sm-12 {
      width: 100%
  }

  .col-sm-11 {
      width: 91.66666667%
  }

  .col-sm-10 {
      width: 83.33333333%
  }

  .col-sm-9 {
      width: 75%
  }

  .col-sm-8 {
      width: 66.66666667%
  }

  .col-sm-7 {
      width: 58.33333333%
  }

  .col-sm-6 {
      width: 50%
  }

  .col-sm-5 {
      width: 41.66666667%
  }

  .col-sm-4 {
      width: 33.33333333%
  }

  .col-sm-3 {
      width: 25%
  }

  .col-sm-2 {
      width: 16.66666667%
  }

  .col-sm-1 {
      width: 8.33333333%
  }
}